/*
Style Name: main.scss 
Description: Chat App With Socket IO
Author: Immama Ayoub
Version: 1.1
Tags: socket.io, JS
*/

@import './modules/_reset.scss';
@import"./modules/_vars.scss";

@import './modules/_login.scss'; 
@import './modules/_chat.scss';
 
